header {
      background-color:#00cc00;
      color: #fff;
      padding: 20px;
      text-align: center;
    }
nav {
      background-color:#00e600;
      padding: 10px;
    }
nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
    }
nav ul li {
      margin: 0 10px;
    }
nav ul li a {
      color: #fff;
      text-decoration: none;
    }    